html, body {
    background-color: skyblue;
    height: 100%; 
    background-image: url('../images/denim.webp');
    background-repeat: repeat;
}

.container{       
    height: 100vh;       
    width: 100vw;
}

.login {
    border: 1px solid black;
    width: 80%;
    height: 60%;
    border-radius: 15px;
}

.login-description {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 0px 0px 15px;
    color: white;
    
}

.login-form {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 15px 15px 0px;
}