html, body {
    background-color: black !important;
    height: 100%; 
}

.container{       
    height: 100vh;       
    width: 100vw;
}

.container-white {
    background-color: white;
}

.login {
    border: 1px solid darkgrey;
    width: 80%;
    height: 60%;
    border-radius: 15px;
}

.login-description {
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    border-right: 1px solid darkgrey;    
}

.login-form {
    background-color: white;
    border-radius: 0px 15px 15px 0px;
}